@model DBfirst.Entity.TblEmployee

<table>
    <td>
        <tr>
            Employee ID :  @Model.EmployeeId

            Name : @Model.Name

            Gender : @Model.Gender

            City : @Model.City



        </tr>
    </td>

</table>
